<!DOCTYPE html>
<html>
<head>
	<title>Administrar vigilantes</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<header class="row"><div>
		<nav class="yellow darken-2">
		<div class="nav-wrapper">
		  <a href="#" class="brand-logo">Floppy</a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
		    <li><a href="./Registros">Usuarios Registrados</a></li>
		    <li><a href="./AdminVig">Administrar Vigilantes</a></li>
		    <li><a href="./Fraccionamientos">Fraccionamientos</a></li>
		  	<li><a class="#"><i class="material-icons">account_circle</i></a></li>
		  	<li><a href="./Salir">Salir</a></li>
		  	<li><a class="#"><%= user %></a></li>
		  </ul>
		</div>
		</nav>
	</header>
	<main class="row">
	<div class=" col s12">
		<p class="flow-text">Aqui se va administrar a los vigilantes de un unidad</p>
			<form class="col s12">
				<div class="input-field col s8">
					<i class="material-icons prefix">account_circle</i>
					<input type="text" id="nombre">
					<label class="activate" for="nombre">Ingresa tu nombre completo</label>
				</div>
				<div class="input-field col s8">
					<i class="material-icons prefix">lock</i>
					<input type="password" id="contrase침a">
					<label class="activate" for="contrase침a">Ingresar tu contrase침a</label>
				</div>
				<div class="input-field col s8">
					<i class="material-icons prefix">contact_mail</i>
					<input type="email" id="contacto">
					<label class="activate" for="contacto">Ingresar correo electronico</label>
				</div>
				<div class="input-field col s8">
					<i class="material-icons prefix">contact_phone</i>
					<input type="text" id="contactotelefono">
					<label class="activate" for="contactotelefono">Ingresar contacto telefonico</label>
				</div>
				<div class="input-field col s8">
					<i class="material-icons prefix">place</i>
					<input type="text" id="direccion">
					<label class="activate" for="direccion">Direcci칩n del fraccionamiento</label>
				</div>
				<div class="input-field col s8">
					<i class="material-icons prefix"></i>
					<input type="number" id="capacidad">
					<label class="activate" for="capacidad">Capacidad del fraccionamiento</label>
				</div>
				<div class="input-field col s8">
					<input type="button" value="Registrar" class="btn waves-effect waves-light" name="Registrar">
				</div>
			</form>
		<blockquote class="col s12">Modificar datos del vigilante</blockquote>
		<form class="col s12">
				<div class="input-field col s8">
					<select>
						<option value="" disabled selected>Elija su fraccionamiento</option>
						<option value="1">Un fraccionamiento</option>
						<option value="2">Otro fraccionamiento</option>
						<option value="3">Uno mas </option>
    				</select>
    				<label>Fraccionamiento</label>
				</div>
				<div class="input-field col s8">
					<i class="material-icons prefix">account_circle</i>
					<input type="text" id="modinombre">
					<label class="activate" for="modinombre">Ingresa tu nombre completo</label>
				</div>
				<div class="input-field col s8">
					<i class="material-icons prefix">contact_mail</i>
					<input type="email" id="modicontacto">
					<label class="activate" for="modicontacto">Ingresar correo electronico</label>
				</div>
				<div class="input-field col s8">
					<i class="material-icons prefix">contact_phone</i>
					<input type="text" id="modicontactotelefono">
					<label class="activate" for="modicontactotelefono">Ingresar contacto telefonico</label>
				</div>
				<div class="input-field col s8">
					<input type="button" value="Modificar" class="btn waves-effect waves-light" name="Registrar">
				</div>
			</div>
		</form>
	</div>
	</main>
  <script src="../javascripts/materialize.js"></script>
  <script src="../javascripts/otro.js"></script>
  <script src="../javascripts/init.js"></script>
</body>
</html>