<!DOCTYPE html>
<html>
<head>
	<title>Usuario</title>
	<meta charset="utf-8">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<header class="row"><div>
		<nav class="yellow darken-2">
		<div class="nav-wrapper">
		  <a href="#" class="brand-logo">Floppy</a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
		    <li><a href="#">¿Quienes Somos?</a></li>
		    <li><a href="#">¿Que es Floppy?</a></li>
		    <li><a href="#">Filosofia</a></li>
		  </ul>
		</div>
		</nav>
	</header>	
	<main class="row">
	<blockquote >Para registrarte en el sistema contacta al Administrador de tu fraccionamiento para que te proporcione una clave que sera enviada a tu correo que te pedira el mismo, una vez que tengas tu clave selecciona tu fraccionamiento : 
	</blockquote>
		<div class="col s12">
			<form class="card-panel col s12" >
			<div class="input-field col s6">
				<i class="material-icons prefix">lock</i>
				<input type="password" id="clave">
				<label class="activate" for="clave">Ingresa la clave del fraccionamiento</label>
			</div>
			<div class="input-field col s6">
				<% if(Fraccionamiento == "No hay ningun fraccionamiento registrado"){%>
					<input type="text" id="opcion" readonly="readonly" value="No hay fraccionamientos">
				<% } else { %>
					<select id="opcion" >
						<% Fraccionamiento.forEach(function(Fraccionamiento){ %>
							<option><%= Fraccionamiento.dir_fra%></option>
						<% }); %>
					</select>	
				<% }%>
			</div>
			<div class="input-field col s8">
				<i class="material-icons prefix">account_circle</i>
				<input type="text" id="nombre">
				<label class="activate" for="nombre">Ingresa tu correo nombre</label>
			</div>
			<div class="input-field col s8">
				<i class="material-icons prefix">contact_mail</i>
				<input type="email" id="correo" placeholder="usuario@ejemplo.com">
				<label class="activate" for="correo">Ingresa tu correo electronico</label>
			</div>
			<div class="input-field col s8">
				<i class="material-icons prefix">lock</i>
				<input type="password" id="contraseña">
				<label class="activate" for="contraseña">Ingresa tu contraseña</label>
			</div>
			<div class="input-field col s8">
				<i class="material-icons prefix"></i>
				<input type="text" id="marca">
				<label class="activate" for="marca">Ingresa la marca de tu auto</label>
			</div>
			<div class="input-field col s8">
				<i class="material-icons prefix"></i>
				<input type="text" id="placas" placeholder="AAA-999 o AAA-9999">
				<label class="activate" for="placas">Ingresa los caracteres de tus placas</label>
			</div>
			<div class="input-field col s12">
				<input type="button" value="Registrar" class="btn waves-effect waves-light" name="Registrar" onclick="Registrarse(event)" >
			</div>
			<div class="col s10"><a href="./">¿Ya tienes cuenta? Ve a iniciar sesion</a></div>
			</form>
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/javascripts/materialize.js"></script>
	<script src="/javascripts/AJAXUser.js"></script>
	<script src="/javascripts/otro.js"></script>
	<script src="/javascripts/init.js"></script>
</body>
</html>